@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cargo transportation</h1>
    <div class="p-5">
        <img src="https://retail-loyalty.org/upload/medialibrary/e81/gruz.jpg" alt="" class="w-50 shadow rounded" />
    </div>
    <p>Developed by Voytishkin E.V.</p>
</div>
